.about-wrapper{

  .section-one{
    display: flex;
    gap: 2rem;
    margin-top: 3rem;
  }

  .title{
    font-size: 1.5rem;
  }

  .img-container{
    border-radius: 1rem;
    overflow: hidden;
  }

  .section-two{
    display: flex;
    gap: 2rem;
    padding-top: 3rem;
    margin-block: 3rem;
  }
}

@media(max-width: 900px){
  .section-one{
    flex-direction: column;
  }

  .section-two{
    flex-direction: column;
  }
}