.progressbar{
  width: 100%;
  background-color: #FF6B6B;
  padding-block: 1rem;
  border-radius: 1rem;
  text-align: center;

  margin-top: 3rem;

  font-size: 1rem;
  font-weight: 600;
}

.payment-container{

  margin-block: 3rem;
  border: 1px solid rgba(211, 211, 211, 0.495);
  padding: 1rem;
  border-radius: 1rem;
  max-width: 400px;
  box-shadow: 0px 5px 10px 0px lightgray;
  display: flex;
  justify-content: center;

  font-size: .9rem;

  .inputfield{
    border: 1px solid lightgray;
    border-radius: .5rem;
    height: 2rem;
    font-size: 1rem;
    padding-left: 1rem;
    max-width: 300px;
  }

  .form-constraint{
    max-width: 300px;
  }

  .inputfield-short{
    border: 1px solid lightgray;
    border-radius: .5rem;
    height: 2rem;
    font-size: 1rem;
    padding-left: 1rem;
    max-width: 100px;
  }

  .pay-btn{
    font-size: 1rem;
    font-weight: 600;
    background-color: #FF6B6B;
    width: 300px;
    padding-block: .3rem;
    border-radius: 1rem;
    margin-top: 1rem;
    cursor: pointer;
  }

  .pay-btn:hover{
    background-color: hsl(0, 100%, 68%);
  }

  .warning{
    font-size: .8rem;
    color: gray;
  }
}

.selected-venue{
  margin-block: 3rem;
  border: 1px solid rgba(211, 211, 211, 0.495);
  padding: 1rem;
  border-radius: 1rem;
  width: 100%;
  box-shadow: 0px 5px 10px 0px lightgray;
  display: flex;
  gap: 2rem;
  max-height: 100%;
}

.booking-img{
  width: 500px;
  

  img{
    width: 100%;
    border-radius: 1rem;
    overflow: hidden;
  }
}

.bottom{
  margin-bottom: 5rem;
}

.title-b{
  margin-bottom: 2rem;
}

.padding{
  padding-top: 2rem;
}

@media(max-width: 900px){
  .booking-layout{
    display: flex;
    flex-direction: column-reverse;
  }

  .selected-venue{
    display: flex;
    flex-direction: column;
  }

  .booking-img{
    width: 100%;
  }
}