.detail-listing-card{
  margin-block: 3rem;
  border: 1px solid rgba(211, 211, 211, 0.495);
  padding: 1rem;
  border-radius: 1rem;
  max-width: 900px;
  box-shadow: 0px 5px 10px 0px lightgray;

  .img-container{
    width: 400px;
    border-radius: 1rem;
    overflow: hidden;
    display: flex;
    margin-right: 1rem;

    img{
      width: 100%;
    }
  }

  .img-design{
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .image-grid{
    display: grid;
    grid-template-columns: 1fr 1fr;
    row-gap: 1rem;

    img{
      border-radius: 1rem;
      width: 200px;
    }
  }

  .image-grid-one{
    display: grid;
    gap: 1rem;
    padding-right: 1rem;

    img{
      min-width: 200px;
      height: auto;
    }
  }

  .image-grid-two{
    display: grid;
    gap: 1rem;

    img{
      min-width: 200px;
      height: auto;
    }
  }

  @media (max-width: 1200px) {
    .image-grid{
      grid-template-columns: 1fr;
    }

    .image-grid-two{
      display: none;
    }
  }

  .divider{
    border: 1px solid rgba(211, 211, 211, 0.478);
    margin-block: 2rem;
  }

  h2{
    font-size: 1.5rem;
    font-weight: 600;
    padding-block: 1rem;
  }

  h3{
    font-size: 1.2rem;
    font-weight: 600;
  }

  .amenities-grid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    row-gap: 2rem;
    padding-block: 2rem;

  }

  .amenity-content{
    display: flex;
    align-items: center;
    gap: 1rem;
  }

  .align-text{
    display: flex;
    align-items: center;
    gap: 1rem;
  }

  .general-content{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    row-gap: 2rem;
    padding-block: 2rem;
  }

}
.content-layout{
  display: flex;
}

.calendar-section{
  display: flex;
  flex-direction: column;
  align-items: center;
  position:sticky;

  max-height: 650px;
  margin-block: 3rem;
  margin-left: 1rem;
  border: 1px solid rgba(211, 211, 211, 0.495);
  padding: 1rem;
  border-radius: 1rem;
  box-shadow: 0px 5px 10px 0px lightgray;
  flex: 1;
}

.book-btn{
  font-size: 1.5rem;
  font-weight: 600;
  background-color: #FF6B6B;
  width: 300px;
  padding-block: .3rem;
  border-radius: 1rem;

  cursor: pointer;
}

.book-btn:hover{
  background-color: hsl(0, 100%, 68%);
}
