.hero-margin{
  padding-top: 2rem;
}

.hero-container{
  background-color: #FF6B6B;
  height: 490px;
  width: 100%;
  border-radius: 2rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
 
}

.hero-content{
  padding-left: 2rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  margin-left: 1rem;
}

.hero-img-container{
  margin-right: .8rem;
}

.hero-text{
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 1rem;

  h1{
    font-size: 2rem;
    font-weight: 400;
  }
}

.search-form{
  display: flex;
  align-items: center;
  gap: 1rem;
}

.searchbar{
  width: 450px;
  border: none;
  border-radius: 2rem;
  height: 3rem;
  box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.334);
  padding-left: 1rem;
  font-size: 1rem;
  background-color: white;
}

.search-btn{
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: none;
  box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.334);
  cursor: pointer;
  font-size: 1.5rem;
  background-color: white;
  display: grid;
  align-items: center;
  justify-content: center;
}

.search-btn:hover{
  background-color: hsl(0, 0%, 98%);
}

.searchbar:focus{
  outline: none;
  
}

.party-container{
  padding-top: 5rem;
  
}

.venues-container{
  margin-top: 1rem;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  justify-items:center;
  row-gap: 2rem;
  padding-bottom: 3rem;
}

.venue-title{
  font-size: 1.2rem;
  font-weight: 400;
}

@media (max-width: 1300px) {
  .venues-container {
    grid-template-columns: repeat(3, 1fr); 
  }

  .hero-img-container{
    display: none;
  }

  .hero-container {
    justify-content: center;
  }


}


@media (max-width: 1024px) {
  .venues-container {
    grid-template-columns: repeat(2, 1fr); 
  }

  
}


@media (max-width: 600px) {
  .venues-container {
    grid-template-columns: 1fr;
  }

  .searchbar{
    width: 100%;
  }

  .search-btn{
    width: 60px;
    height: 50px;
  }

  .hero-content{
    margin: 0;
    padding: 0;
  }
  
}