.warning-text{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 500px;
  
  font-size: 1.5rem;
  font-weight:600 ;

}

.bookings-wrapper{

  margin-block: 3rem;

  .welcome-text{
    font-size: 1.5rem;
  }

  .booking-card-container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    margin-top: 3rem;
    row-gap: 2rem;
  }

  @media (max-width: 1300px) {
  .booking-card-container {
    grid-template-columns: repeat(3, 1fr); 
  }
}


@media (max-width: 1024px) {
  .booking-card-container {
    grid-template-columns: repeat(2, 1fr); 
    justify-items: center;
  }
}


@media (max-width: 600px) {
  .booking-card-container {
    grid-template-columns: 1fr;
    justify-items: center;
  }
}

}

