.search-page{
  
  .filter-container{
    display: flex;
    align-items: center;
    gap: 1rem;
    padding-block: 3rem;
  }

  .filter-btn{
    background-color: #FF6B6B;
    padding: .5rem 1rem;
    border-radius: 5rem;
    cursor: pointer;
  }

  .filter-btn:hover{
    background-color: hsl(0, 100%, 69%);
  }

  @media (max-width: 1300px) {
  .venues-container {
    grid-template-columns: repeat(3, 1fr); 
  }
}


@media (max-width: 1024px) {
  .venues-container {
    grid-template-columns: repeat(2, 1fr); 
  }
}


@media (max-width: 600px) {
  .venues-container {
    grid-template-columns: 1fr;
  }

  .searchbar{
    width: 100%;
  }

  .search-btn{
    width: 60px;
    height: 50px;
  }
}
}