.navbar-container{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo-container{
  max-width: 75px;
  max-height: 75px;
}

.logo-img{
  width: 100%;
}

.navbar-btns{
  display: flex;
  align-items: center;
  gap: 3rem;
}

.navlinks-container{
  display: flex;
  gap: 2rem;
}

.navlink-item{
  list-style: none;
  
}

.navlink-style{
  text-decoration: none;
  color: black;
}

.active{
  text-decoration: underline;
}

.login-btn{
  border: none;
  background-color: #FF6B6B;
  padding: .5rem 1.3rem;
  border-radius: 5rem;
  font-weight: 600;
  font-size: 1rem;
  cursor: pointer;
}

.login-btn:hover{
  background-color: hsl(0, 100%, 69%);
}

.profile-link{
  text-decoration: none;
  color: black;
  font-size: 1rem;
  font-weight: 600;
}


@media (max-width: 1200px) {
  .navlinks-container {
    display: none;
  }

  .mobile-menu-btn {
    display: flex;
    flex-direction: column;
    gap: 5px;
    cursor: pointer;
  }

  .mobile-menu-btn .bar {
    width: 25px;
    height: 3px;
    background-color: black;
  }

 
  .mobile-nav {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    position: absolute;
    top: 70px; 
    right: 1rem;
    background-color: white;
    padding: 1rem;
    border-radius: 1rem;
    box-shadow: 0px 5px 15px rgba(0,0,0,0.2);
    z-index: 100;
  }

  .navlinks-container {
    display: none;
  }

  .login-btn{
    display: none;
  }

  .mobile-nav a {
    text-decoration: none;
    color: black;
    font-weight: 600;
  }
}

