.centers{
  display: flex;
  justify-content: center;
  align-items: center;
}

.create-listing-container{
  width: 600px;
  border-radius: 1rem;
  border: 1px solid lightgray;
  padding-block: 3rem;
  box-shadow: 0px 5px 10px 0px lightgray;
  margin-block: 3rem;

  .create-form-container{
  width: 100%;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  }

  .create-listing-title{
    font-size: 1.5rem;
    
  }

  .form-content{
    display: flex;
    flex-direction: column;
    gap: .4rem;
    width: 100%
  }

  .input{
    border: none;
    background-color: #E6E6E6;
    height: 2rem;
    border-radius: .5rem;
    padding-left: 1rem;
    font-size: 1rem;
  }

  .input-textarea{
    border: none;
    background-color: #E6E6E6;
    height: 5rem;
    border-radius: .5rem;
    padding-left: 1rem;
    font-size: 1rem;
  }

  .input-capacity{
    border: none;
    background-color: #E6E6E6;
    height: 2rem;
    border-radius: .5rem;
    padding-left: 1rem;
    font-size: 1rem;
  }

  input[type="number"] {
    -moz-appearance: textfield;
  }

  input[type="number"]::-webkit-inner-spin-button,
  input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
  }

  .input-label{
    font-size: .9rem;
  }

  .amenity-grid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 2rem;
    row-gap: .5rem;
  }

  .flex-box{
    display: flex;
    gap: .3rem;
  }

  .create-btn{
    padding: .4rem 3rem;
    background-color: #FF6B6B;
    font-weight: 600;
    border-radius: .6rem;
    width: 200px;
    cursor: pointer;
    margin-top: 2rem;
  }

  .create-btn:hover{
    background-color: hsl(0, 100%, 69%);
  }

  

  .gap{
      display: flex;
      gap: .3rem;
      margin-top: .3rem;
      align-items: center;
    }

  @media(max-width: 900px){
    .amenity-grid{
      grid-template-columns: 1fr 1fr;
      
    }
    
  }
}